/* MyReviewDetail.css */

/* 리뷰 상세 내용 컨테이너 */
.my-review-detail-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #43000a;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 리뷰 수정 및 삭제 버튼 */
.review-btns button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 리뷰 수정 버튼 스타일 */
.review-btns button.edit-button {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.review-btns button.edit-button:hover {
  background-color: #0056b3;
}

/* 리뷰 삭제 버튼 스타일 */
.review-btns button.delete-button {
  background-color: #ff5722;
  color: #fff;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.review-btns button.delete-button:hover {
  background-color: #d84100;
}
